@import "colors"
@import "reset"
@import "fonts"

html
	font-family: 'Play', arial

.wrapper
	max-width: 1200px
	margin: auto

h1
	font-family: 'Europe Bold Italic', arial
	line-height: normal
	font-size: 48px
	color: $tmf

h3
	font-family: Play
	font-style: normal
	font-weight: bold
	line-height: normal
	font-size: 24px

span 
	.custom_title
		font-family: 'Europe Bold Italic', arial

.top-bar, .bottom-bar
	font-family: 'Europe Bold Italic', arial
	font-weight: 600
	
.header
	padding: 13px 0
	align-items: center
	justify-content: center
	&-cart
		position: relative
		a	
			width: 88px
			height: 88px
			display: flex
			background-color: $tmf
			justify-content: center
			border-radius: 50%
		&-event
			font-family: 'Play', arial
			position: absolute
			display: flex
			height: 27px
			width: 27px
			background-color: $mainf
			border-radius: 50%
			top: 0
			right: -3px
			align-items: center
			justify-content: center
			font-size: 19px
			line-height: 23px
	&-logo
		img
			width: 100%
	&-map
		font-family: 'Play', arial
		font-weight: bold
		line-height: normal
		text-align: center
		img
			border-radius: 10px
			position: relative
		&-span
			&_top
				position: absolute
				top: 0px
				left: 10%
				right: 10%
				font-size: 14px
				background-color: $white
				padding: 0 0 2px 0
				border-radius: 0 0 7px 7px
				color: $tmf
			&_bottom
				position: absolute
				bottom: 0px
				font-size: 21px
				background-color: $tmf
				color: $mainf
				width: 90%
				line-height: 31px
				border-radius: 0 0 10px 10px
				.line
					font-size: 27px
					line-height: 27px
					padding-left: 7px
	&-platezhki
		font-family: 'Play', arial
		font-weight: bold
		line-height: normal
		font-size: 17px
		text-align: center

.contacts
	background-color: $bgf
	border-radius: 1px
	font-size: 21px
	line-height: 25px
	margin: 0 -40px
	font-family: 'Play', arial
	&-opening_hours
		position: relative
		padding-left: 100px
		padding-top: 8px
		padding-bottom: 12px
		&-logo
			position: relative
			img
				position: absolute
				height: 27px
				left: -27px
		&-ways
			&-first_way
				padding-left: 12px
			&-second_way
				display: none				
			&-third_way
				display: none
			&-check
				height: 6px
				width: 10px
				border: 6px solid transparent
				border-top: 10px solid $tmf
				position: absolute
				top: 17px
				right: 80px
		&:hover
			.contacts-opening_hours
				&-ways
					background-color: $bgf
					position: absolute
					height: 103px
					z-index: 99
					border-radius: 10px
					top: 2px						
					box-shadow: 0 0 5px rgba(0,0,0,0.5)
					cursor: default
					&-first_way
						display: block
						padding: 5px 12px
						width: 100%
						border-radius: 10px 10px 0 0
						&:hover
							background-color: darken($bgf,17%)
					&-second_way
						display: block
						position: absolute
						top: 35px
						padding: 5px 12px
						width: 100%
						&:hover
							background-color: darken($bgf,17%)
					&-third_way
						display: inline-block
						position: absolute
						top: 69px
						padding: 5px 12px
						width: 100%
						border-radius: 0 0 10px 10px
						&:hover
							background-color: darken($bgf,17%)
					&-check
						transform: rotate(180deg)
						top: 10px

	&-phone-numbers
		position: relative
		padding: 8px 0px 12px
		&-logo
			position: relative
			img
				position: absolute
				height: 27px
				left: -40px
		&-list
			&-nubmer
				&-1
				&-2
					display: none	
				&-3
					display: none
				&-check
					height: 6px
					width: 10px
					border: 6px solid transparent
					border-top: 10px solid $tmf
					position: absolute
					top: 17px
					right: 50px
		&:hover
			.contacts-phone-numbers
				&-list
					background-color: $bgf
					position: absolute
					height: 103px
					z-index: 99
					border-radius: 10px
					top: 2px
					left: -12px
					box-shadow: 0 0 5px rgba(0,0,0,0.5)
					cursor: default
					&-nubmer
						&-1
							display: block
							padding: 5px 12px
							width: 100%
							border-radius: 10px 10px 0 0
							&:hover
								background-color: darken($bgf,17%)
						&-2
							display: block
							position: absolute
							top: 35px
							padding: 5px 12px
							width: 100%
							&:hover
								background-color: darken($bgf,17%)
						&-3
							display: inline-block
							position: absolute
							top: 69px
							padding: 5px 12px
							width: 100%
							border-radius: 0 0 10px 10px
							&:hover
								background-color: darken($bgf,17%)
						&-check
							transform: rotate(180deg)
							top: 10px
	&-email
		padding: 8px 0px 12px
		
.main-menu
	background-color: $tmf
	margin: 0 -40px
	&-nav
		ul
			text-decoration: none
			list-style: none
			display: flex
			justify-content: space-around
			font-size: 24px
			line-height: 28px	
			padding: 8px 3px
			li
				&:first-child
					padding-left: 42px
				&:last-child
					padding-right: 42px		
			a
				text-decoration: none
				color: $mainf
				padding: 8px 3px
				&:hover
					background-color: $mainf
					color: $tmf
.slider
	&-main_page
		max-width: 1140px
		margin: 30px 0px
		.carousel-inner
			border-radius: 30px

.goods
	&_selection
		font-family: 'Europe Bold Italic', arial
		font-weight: 600
		.row
			margin-bottom: 61px
		&-tires
			&_main
				width: 532px
				height: 299px
				background-color: $bgf
				border-radius: 30px
				&-characters,					
					font-size: 24px
					line-height: 23px
					margin-left: 19px			
					ul
						list-style: none
						li
							margin: 16px 0px 9px
							display: flex
							img
								margin: 16px 39px 9px
							select
								margin-right: -7px		
				&-visual
					width: 100%
					height: 299px					
					background-color: $tmf
					border-radius: 0 30px 30px 0
					position: relative
					margin-left: 8px
					img
						position: absolute
						top: 0
						border-radius: 0 30px 30px 0
					span
						display: inline-block
						color: $mainf					
						font-size: 36px
						line-height: 34px
						margin: 12px 0 0 20px
					input
						font-family: 'Europe Bold Italic', arial
						display: flex
						justify-content: center
						align-items: center					
						width: 164px
						height: 62px
						background-color: $mainf
						border-radius: 10px
						text-decoration: none
						color: $tmf
						font-size: 24px
						line-height: 23px
						position: absolute
						bottom: 18px
						left: 20px		
			&_others
				width: 532px
				height: 185px
				background-color: $bgf
				border-radius: 30px
				&-characters					
					font-size: 24px
					line-height: 23px
					margin-left: 19px
					margin-right: -27px
					padding: 30px 12px 0px 13px	
					span
						font-size: 33px
						font-weight: 900
					ul
						font-style: normal
						font-weight: normal
						line-height: normal
						font-size: 24px
						margin-top: 17px
						margin-left: 21px
						font-family: 'Play', arial
					p
						font-family: 'Play', arial
						font-style: normal
						font-weight: normal
						line-height: normal
						font-size: 24px
						margin-top: 17px
				&-visual
					width: 100%
					height: 185px				
					background-color: $tmf
					border-radius: 0 30px 30px 0
					position: relative
					margin-left: 8px
					img
						border-radius: inherit   
					span
						display: inline-block
						color: $mainf					
						font-size: 36px
						line-height: 34px
						margin: 12px 0 0 20px
					a
						display: flex
						justify-content: center
						align-items: center					
						width: 164px
						height: 62px
						background-color: $mainf
						border-radius: 10px
						text-decoration: none
						color: $tmf
						font-size: 24px
						line-height: 23px
						position: absolute
						bottom: 18px
						left: 20px
		&-discs
			&_main
				width: 532px
				height: 299px
				background-color: $bgf
				border-radius: 30px
				&-visual
					width: 100%
					height: 299px					
					background-color: $tmf
					border-radius: 0 30px 30px 0
					position: relative
					margin-left: 8px
					img
						position: absolute
						top: 0
						border-radius: 0 30px 30px 0			
					span
						display: inline-block
						color: $mainf					
						font-size: 36px
						line-height: 34px
						margin: 12px 0 0 20px
					input
						font-family: 'Europe Bold Italic', arial
						display: flex
						justify-content: center
						align-items: center					
						width: 164px
						height: 62px
						background-color: $mainf
						border-radius: 10px
						color: $tmf
						font-size: 24px
						line-height: 23px
						position: absolute
						bottom: 18px
						left: 20px

.map
	&-main_page
		margin-bottom: 30px
		height: 540px
		max-width: 1280px
		margin: 0 -40px
		position: relative
		iframe
			height: inherit
			max-width: inherit
		&-info
			font-family: 'Play', arial
			font-weight: normal
			display: flex
			flex-direction: column
			height: 461px
			width: 458px
			background-color: rgba($tmf, 0.77)
			position: absolute
			top: 44px
			right: 100px
			font-size: 24px
			color: $white
			line-height: 37px
			span
				font-weight: 1000
			&-title
				margin-top: 40px
				justify-content: center
				text-align: center
				line-height: 44px
				font-size: 29px
				background-color: $white
				color: $tmf
			&-inner
				padding: 10px 21px 0px 39px
				text-align: right
				ul 
					list-style: none
					li
						margin-top: 3px
				&-address
					padding: 7px 0
					padding-bottom: 17px
					font-weight: 700
					border-bottom: 3px solid $mainf
				&-phone_numbers
					padding: 7px 0
					border-bottom: 3px solid $mainf
				&-work_hours
					padding: 7px 0
#map
	position: absolute
	top: -10vh

.footer
	&-banner
		height: 165px
		background-color: $bgf
		padding: 27px 0
		margin: 0px -40px
		&-logo
			img
				height: 107px
		&-title
			font-family: 'Europe Bold Italic', arial
			line-height: normal
			font-size: 36px
			line-height: 37px
			color: $tmf
			font-weight: 1000

.footer
	&-copyright
		display: flex
		height: 78px
		background-color: $tmf
		margin: 0 -40px 0px
		padding: 25px 0 !important
		justify-content: center
		text-align: center
		font-style: normal
		font-weight: normal !important
		line-height: normal
		font-size: 24px
		color: $white
	&-developed-by
		display: flex
		height: 34px
		justify-content: center
		text-align: center
		margin: 0px -40px
		padding: 6px 0 7px
		background-color: darken($tmf, 7%)
		color: rgba($white, 0.54)
		font-size: 18px
		font-style: normal
		font-weight: normal
		line-height: normal
		span
			color: $mainf
			padding-left: 5px

ul
	.type-product
		display: inline-block
		height: 100%
		width: 255px
		background-color: $mainf
		box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.08)
		border-radius: 20px
		padding: 5px 15px 15px !important
		&:nth-child(4n+1)
			margin-left: 0
		a
			color: $tmf
			.woocommerce-loop-product__title
				display: flex	
				height: 2.7em
				font-weight: 	bold
				justify-content: 	center
			img 
				margin: auto !important
				border-radius: 10px

//PRODUCT. CUSTOM STYLES
.product
	&-attribute
		&-proizvoditel
			position: relative
			padding-left: 32px
			margin-top: 12px
			.icon
				&-info
					display: inline-block
					position: absolute
					margin-bottom: 0 !important
					padding: 0
					width: 1.7em !important
					height: 1.7em !important
					color: rgba(51, 51, 51, 0.67)
					left: 0
			span
				line-height: 30px
		&-stock_quantit
			padding-left: 32px

.my
	&_custom
		&-add_to_cart_button
			display: flex !important	
			justify-content: center
			position: relative			
			a
				color: $mainf !important
			.add_to_cart_button, .product_type_simple
				width: 100%
				background-color: $tmf !important
				padding-left: 23% !important
				tant
				border-radius: 10px !important
				&-next
					position: absolute
					display: flex
					justify-content: center
					align-items: center
					background: rgba(254, 221, 73, 0.07)
					border-radius: 0px 10px 10px 0px
					right: 0
					top: 15px
					width: 25%
					font-size: 1em
					font-weight: bold
					padding: 11px
			.added_to_cart
				display: none
					
				.added
					display: none
		&-single_product
			.woocommerce-product-gallery
				width: 35% !important
			.entry-summary
				width: 59% !important
			.in-stock
				display: none
			&-title
				font-family: 'Europe Bold Italic', arial
				line-height: normal
				font-size: 27px
				font-weight: bold
				text-align: center
				padding-left: 65px
				color: $tmf
			&-summary
				&-price
					font-style: normal
					font-weight: bold
					line-height: normal
					font-size: 21px
					text-align: center
					color: $tmf
					text-align: left
					margin-top: -21px
					padding-bottom: 6px
				&-wrapper
					width: 71%
					height: 100%
					background-color: $bgf
					padding: 22px 30px 12px
					border-radius: 20px
				&-content
					font-style: normal
					font-weight: normal
					line-height: normal
					font-size: 24px
					text-align: center
					display: flex
					flex-direction: column
					color: $tmf
					&-line
						display: flex
						justify-content: space-between
						&-element
							display: block
							width: 37%
							padding: 6px 0
							text-align: left
							&-bottom
								display: block
								width: 50%
								padding: 15px 0
								text-align: left
								span 
									font-style: normal
									font-weight: bold
									line-height: normal
									font-size: 24px
									color: $tmf
								a
									text-decoration: none
									color: $tmf
									background-color: $mainf
									padding: 12px 42px 12px 40px
									border-radius: 10px
									font-style: normal
									font-weight: bold
									line-height: normal
									font-size: 24px
						&:first-child
							.my_custom-single_product-summary-content-line-element
								width: 100%


						
//FILTER_STYLES
.characters,
	display: flex
	justify-content: space-between
	width: 100%	
	select
		background: $white
		border: 2px solid #CCCCCC
		box-sizing: border-box
		border-radius: 7px
		min-width: 95px
		min-height: 30px
		font-style: normal
		font-weight: normal
		line-height: 18px
		font-size: 19px
		color: $tmf
		padding: 0px 21px 0px 2px
		font-family: 'Play', arial
	&-checkbox
		position: relative
		input[type="checkbox"]
			opacity: 0
		input[type="checkbox"] + label
			content: ""
			position: absolute
			right: 21px
			top: 20px 
			min-width: 30px
			min-height: 30px
			border-radius: 7px
			border: 2px solid #CCCCCC
			box-sizing: border-box
			background-color: #ffffff
		input[type="checkbox"]:checked + label
			background-color: $mainf
			border: none
		input[type="checkbox"] + label:after
			content: ""
			position: absolute
			-webkit-transition: all 0.2s ease
			-moz-transition: all 0.2s ease
			-o-transition: all 0.2s ease
			transition: all 0.2s ease
			left: 20%
			top: 21%
			width: 17.66px
			height: 11.5px
			border-radius: 1px
			border-left: 4px solid $tmf
			border-bottom: 4px solid $tmf
			-webkit-transform: rotate(-45deg)
			-moz-transform: rotate(-45deg)
			-o-transform: rotate(-45deg)
			-ms-transform: rotate(-45deg)
			transform: rotate(-45deg)
		input[type="checkbox"]:not(:checked) + label:after 
			opacity: 0
		input[type="checkbox"]:checked + label:after
			opacity: 1
	.spikes
		input[type="checkbox"] + label
			right: -17px
			top: -3px 
			

//CUSTOM SINGLE PRODUCT
.site-main
	article
		display: flex
		.entry-header
			display: none

//CUSTOM PRODUCT PAGE
.products
	margin-top: 27px !important

//CUSTOM PAGINATION
.pagination
	&_page
		&_down
			display: flex
			justify-content: center
			padding: 10px
			margin: -10px 0 27px 0
			a
				display: inline-block
				height: 37px
				width: 37px
				background-color: $tmf
				font-family: 'Play', arial
				font-style: normal
				font-weight: normal
				line-height: normal		
				font-size: 21px
				line-height: 37px
				color: $mainf
				text-align: center
				margin: 0px 6px
				text-decoration: none
				border-radius: 10px
		&_between
			font-size: 27px
		&_active
			background-color: $mainf !important
			color: $tmf !important

.return-to-shop, .cart-empty
	font-family: 'Play', arial
	font-style: normal
	font-weight: normal
	line-height: normal		
	font-size: 21px
	padding: 6px 0 6px 0

.woocommerce-cart-form__contents
	border-spacing: 0px 15px !important
	border-collapse: separate
	thead
		tr
			th
				font-family: 'Play', arial
				font-style: normal
				font-weight: bold
				line-height: normal
				font-size: 24px
				text-align: center
	tbody
		font-family: 'Play', arial
		font-style: normal
		font-weight: bold
		line-height: normal
		font-size: 18px
		text-align: center
		color: $tmf
		a
			text-decoration: none
			color: $tmf
		tr
			background-color: $bgf
			td
				align-items: center
				vertical-align: middle
				&:first-child
					border-radius: 10px 0 0 10px 
				&:last-child
					border-radius: 0px 10px 10px 0px 
			&:last-child
				background-color: $white
				text-align: right
			.product
				&-remove
					padding-left: 4px
					font-size: 21px
				&-thumbnail
					padding: 7px 0px				
					img
						height: 59px
						width: 55px
						border-radius: 10px
						vertical-align: middle	
				&-name
					text-align: left 
					padding-left: 7px
					span
						a
							font-size: 14px
							font-weight: 400
							color: lighten($tmf, 30%)
				&-quantity
					input
						background: $white
						border: 2px solid #CCCCCC
						box-sizing: border-box
						border-radius: 7px
	&-button
		background-color: $mainf
		color: $tmf
		border: none
		padding: 12px 21px
		font-family: 'Play', arial
		font-style: normal
		font-weight: bold
		line-height: normal
		font-size: 18px
		text-align: center
		border-radius: 10px
.cart
	&-collaterals
		display: flex
		flex-direction: column
		background-color: $bgf
		color: $tmf
		padding: 12px 18px 15px 24px
		border-radius: 10px 
		font-size: 18px
		height: 77%
		position: relative
		h3 
			padding-bottom: 15px
			border-bottom: 2px solid rgba(51, 51, 51, 0.5)
		p
			padding: 10px
		table
			margin:	-7px 10px !important
			width: 300px


.order-total
	th 
		width: 27%
		font-weight: bold
	td 
		font-weight: bold

.wc-proceed-to-checkout
	position: absolute
	bottom: 0px
	padding: 0 !important
	display: flex	
	justify-content: left
	width: 100%
	margin-left: 5px
	a 
		text-decoration: none 
		background-color: $mainf
		font-weight: bold
		font-size: 24px
		text-align: center
		vertical-align: middle
		color: $tmf
		padding: 12px 66px !important
		border-radius: 10px

.added::after
	content: '\e01d' !important

.added_to_cart 
	display: none !important
	

//checkout	
.notice
	display: flex
	flex-direction: column
textarea
	width: 21em !important

.woocommerce
	&-additional-fields
		display: none
	&-checkout
		font-family: 'Play', arial
		font-size: 21px
		.payment_methods
			border-bottom: 1px solid $tmf !important
	&-billing-fields
		h3
			padding-bottom: 12px
	&-input-wrapper
		input
			padding: 7px
			border-radius: 10px
			border: 1px solid $mainf
			color: $tmf
			font-size: 21px
	&-checkout-payment
		background-color: $mainf !important
		#place_order
			background-color: $tmf
			margin-top: 12px

.payment_box
	background-color: $tmf !important
	color: $mainf !important
	&::before
		border-bottom-color: $tmf !important
		
.category
	&-container
		a
			display: flex
			flex-direction: column
			text-decoration: none
			padding: 17px
			color: $tmf
			font-size: 21px
			span
				padding: 17px 0
				text-align: center
				
.filter
	&-wrapper
		margin: 21px -40px
		h2
			font-family: 'Europe Bold Italic', arial
			line-height: normal
			font-size: 48px
			color: $tmf
			padding-left: 40px
	&-choice
		background-color: $bgf
		padding: 17px 0 18px 40px
		font-weight: bold
		line-height: normal
		font-size: 24px
		margin-top: 17px
		ul
			list-style: none
			display: flex
			flex-direction: row
			align-items: center
			padding-left: 12px
			margin-left: 10px
			li
				margin-left: 55px
			input
				margin-left: 55px
				background-color: $mainf
				font-weight: bold
				font-size: 17px
				border: none
				border-radius: 10px
				&:hover
					cursor: pointer

.woocommerce-tabs
	font-family: 'Play', arial
	font-size: 17px
	.woocommerce-Tabs-panel--additional_information
		h2
			display: none
		table
			tr:nth-child(2n)
				background-color: lighten($mainf, 7%)
			th
				width: 210px
			a
				color: $tmf
				
.tires_not_in_stock
	background-color: $bgf
	color: $tmf
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	h2
		font-family: 'Europe Bold Italic', arial
		line-height: normal
		font-size: 36px
		padding: 30px 0
	span
		font-size: 24px
		padding: 0px 0 30px 0
	a
		text-decoration: none
		background-color: $mainf
		color: $tmf
		font-weight: bold
		font-size: 24px
		padding: 16px 33px
		border-radius: 10px
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
		margin-bottom: 40px


//MEDIA
@media (max-width: 1200px)
	
	.header-map
		img
		&-span
			&_top
				top: 0px
				left: 10%
				right: 10%
				font-size: 1.27vw
			&_bottom
				font-size: 1.7vw
				left: 5.3%
				right: 5.3%
				line-height: 2vw
				padding: 0 0 0.5vw 0
				border-radius: 0 0 10px 10px			
				.line
					font-size: 27px
					line-height: 2vw
					margin: 17px 0 0 7px

	.main-menu
		&-nav
			ul
				li
					a
						font-size: 2.1vw
	

	.contacts
		font-size: 1.6vw
		line-height: 1.7vw
		&-opening_hours
			padding-left: 9vw
			padding-top: 0.7vw
			padding-bottom: 1vw
			&-logo
				img
					height: 2vw
					left: -2.2vw
			&-ways
				&-check
					height: 0.4vw
					width: 0.7vw
					border: 5px solid transparent
					border-top: 7px solid $tmf
					top: 1.3vw
					right: 3.6vw
			&:hover
				.contacts-opening_hours
					&-ways
						height: 88px
						&-first_way
						&-second_way
							top: 31px
						&-third_way
							top: 61px
						&-check
							top: 0.7vw
		&-phone-numbers
			padding-top: 0.85vw
			padding-bottom: 0.85vw
			&-logo
				img
					height: 2vw
					left: -3.5vw
			&-list
				&-nubmer
					&-check
						height: 0.4vw
						width: 0.7vw
						border: 5px solid transparent
						border-top: 7px solid $tmf
						top: 1.3vw
						right: 2.7vw
			&:hover
				.contacts-phone-numbers
					&-list
						height: 88px
						&-nubmer
							&-1
							&-2
								top: 31px
							&-3
								top: 61px
							&-check
								top: 0.7vw
		&-email
			padding: 8px 0px 12px

	.slider-main_page
		margin: 2vw 0

	.goods
		&_selection
			margin: -2vw 0
			.row
				margin: 15px -15px
			&-tires, &-discs
				&_main
					width: 44vw
					height: 27vw
					// width: 425.6px
					// height: 239.2px
					border-radius: 30px
					&-characters					
						font-size: 2vw
						line-height: 2.1vw
						margin-left: 15.2px			
						ul
							list-style: none
							margin-top: 1.7vw
							li
								margin: 1vw 0px 1.77vw
								display: flex
								select
									margin-right: -2.17vw
									min-height: 2.1vw
								img
									margin: 6.4px 14.4px 3.6px		
					&-visual
						height: 27vw				
						background-color: $tmf
						margin-left: 8px //Под вопросом
						img
							width: 100%
							height: 100%
						span		
							font-size: 28.8px
							line-height: 28px
						input			
							width: 131.2px
							height: 49.6px
							font-size: 19.2px
							line-height: 20px
							bottom: 14.4px
							left: 16px		
				&_others
					width: 44vw
					height: 15vw
					margin: 1.7vw 0
					&-characters					
						font-size: 2vw
						line-height: 2.1vw
						span
							font-size: 2.5vw
						ul
							font-size: 2vw
							margin-top: 1.7vw
							margin-left: 2vw
						p
							font-size: 2vw
							margin-top: 1.7vw
					&-visual
						width: 100%
						height: 15vw				
						img
							width: 100%
							height: 100%
						span		
							font-size: 28.8px
							line-height: 28px
						a			
							width: 131.2px
							height: 49.6px
							font-size: 19.2px
							line-height: 20px
							bottom: 14,4px
							left: 16px
	.characters
		select
			min-width: 76px
			min-height: 24px
			line-height: 16px
			font-size: 15.2px
			margin-right: -12px
		&-checkbox
			input[type="checkbox"] + label
				right: -3px
				top: 12px

	.contacts
		margin: 0px
	.main-menu
		margin: 0px
	.footer
		&-banner
			margin: 0px
			&-title
				font-size: 28.8px
		&-copyright, &-developed-by
			margin: 0px
	.map
			&-main_page
				max-width: 99vw
				margin: auto

@media (max-width: 960px)

	.top-bar, .bottom-bar
		display: none
		
	.contacts
		background-color: $bgf
		border-radius: 1px
		font-size: 21px
		line-height: 25px
		margin: 0 -40px
		font-family: 'Play', arial
		&-opening_hours
			position: relative
			padding-left: 100px
			padding-top: 8px
			padding-bottom: 12px
			&-logo
				position: relative
				img
					position: absolute
					height: 27px
					left: -27px
			&-ways
				&-first_way
					padding-left: 12px
				&-second_way
					display: none				
				&-third_way
					display: none
				&-check
					height: 6px
					width: 10px
					border: 6px solid transparent
					border-top: 10px solid $tmf
					position: absolute
					top: 17px
					right: 80px
			&:hover
				.contacts-opening_hours
					&-ways
						background-color: $bgf
						position: absolute
						height: 103px
						z-index: 99
						border-radius: 10px
						top: 2px						
						box-shadow: 0 0 5px rgba(0,0,0,0.5)
						cursor: default
						&-first_way
							display: block
							padding: 5px 12px
							width: 100%
							border-radius: 10px 10px 0 0
							&:hover
								background-color: darken($bgf,17%)
						&-second_way
							display: block
							position: absolute
							top: 35px
							padding: 5px 12px
							width: 100%
							&:hover
								background-color: darken($bgf,17%)
						&-third_way
							display: inline-block
							position: absolute
							top: 69px
							padding: 5px 12px
							width: 100%
							border-radius: 0 0 10px 10px
							&:hover
								background-color: darken($bgf,17%)
						&-check
							transform: rotate(180deg)
							top: 10px


	.content-area
		margin: -7px
		width: 100vw	
	.map
		&-main_page
			iframe
			&-info
				height: 461px
				width: 458px
				background-color: rgba($tmf, 0.77)
				position: absolute
				top: 44px
				right: 100px
				font-size: 17px
				color: $white
				line-height: 37px
				span
					font-weight: 1000
				&-title
					margin-top: 40px
					justify-content: center
					text-align: center
					line-height: 44px
					font-size: 29px
					background-color: $white
					color: $tmf
				&-inner
					padding: 10px 21px 0px 39px
					text-align: right
					ul 
						list-style: none
						li
							margin-top: 3px
					&-address
						padding: 7px 0
						padding-bottom: 17px
						font-weight: 700
						border-bottom: 3px solid $mainf
					&-phone_numbers
						padding: 7px 0
						border-bottom: 3px solid $mainf
					&-work_hours
						padding: 7px 0
	.footer
		&-banner
			height: 165px
			background-color: $bgf
			padding: 27px 0
			margin: 0px
			&-logo
				img
					height: 107px
			&-title
				font-family: 'Europe Bold Italic', arial
				line-height: normal
				font-size: 36px
				line-height: 37px
				color: $tmf
				font-weight: 1000

	.footer
		&-copyright
			display: flex
			height: 78px
			background-color: $tmf
			margin: 0px
			padding: 25px 0 !important
			justify-content: center
			text-align: center
			font-style: normal
			font-weight: normal !important
			line-height: normal
			font-size: 24px
			color: $white
		&-developed-by
			display: flex
			height: 34px
			justify-content: center
			text-align: center
			margin: 0px
			padding: 6px 0 7px
			background-color: darken($tmf, 7%)
			color: rgba($white, 0.54)
			font-size: 18px
			font-style: normal
			font-weight: normal
			line-height: normal
			span
				color: $mainf
				padding-left: 5px





	
.main-menu
	&-nav
		ul
			li
				a


// @media (max-width: 960px)
// 	.footer
// 		&-banner
// 			height: 100%
// 			font-size: 28.8px
// 			&-logo
// 				display: flex
// 				justify-content: center
// 			&-title
// 				display: flex
// 				flex-direction: column
// 				justify-content: center
// 				align-items: center

